body{
    background-color: #eaf6f6;

}

hr{
    
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color: gray;
    border-width: 05px;
}

h1{
    color: #66BFBF;
}
h2{
    color: #66BFBF;
}